@import "../../utilities/palette";

.card {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 500px;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #FFF;
  text-align: left;
  h1 {
    width: 100%;
    margin: 0;
    color: $primary-text-color;
    font-size: 20px;
    font-weight: 300;
  }
}

.slack {
  margin: 0;
  color: $secondary-text-color;
  font-size: 12px;
}

.info {
  width: 40%;
  margin: 0 20px;
}

.slot-cell {
  background-color: #FFF;
  border: 1px solid $divider-color;
  font-weight: 300;
  font-size: 12px;
}

.not-available {
  color: $divider-color;
}

.available {
  background-color: $primary-color-light;
  color: $primary-text-color;
}

.paired {
  background-color: $paired-color;
  color: $primary-text-color;
}
