@import "../../utilities/palette";

.calendar {
  padding: 15px;
  background-color: $primary-color-dark;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.month {
  flex: 2;
  margin: 0;
  color: #FFF;
  font-weight: lighter;
  text-align: center;
}

.arrow {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.days-week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14%;
  height: 22px;
  padding: 5px;
  color: #FFF;
  p {
    margin: 0;
    font-size: 12px;
  }
}

.day-name {
  font-size: 10px;
}

.out {
  color: rgba(#FFF, 0.3);
}

.now {
  background-color: $primary-color-light;
}
